body{
  background:#f3f4f6;
}

.container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  padding:20px;
}

.form{
  background:white;
  padding:20px;
  border-radius:10px;
}

input,textarea{
  width:100%;
  margin-top:8px;
  padding:10px;
  border-radius:6px;
  border:1px solid #ccc;
}

button{
  margin-top:15px;
  padding:12px;
  background:#111827;
  color:white;
  border:none;
  border-radius:6px;
}

.resume{
  background:white;
  padding:35px;
  font-family:Arial;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.name{
  text-align:center;
  letter-spacing:2px;
  margin-bottom:5px;
}

.contactLine{
  text-align:center;
  font-size:14px;
  margin-bottom:20px;
}

h3{
  border-bottom:1px solid #aaa;
  padding-bottom:5px;
  margin-top:18px;
}

ul{
  padding-left:18px;
}
